{% extends "index.html" %}

{% block content %}
    <h1>Genetic Algorithm</h1>


    <ol>
        <li>Choose a project directory with bills inside</li>
        <li>Enter parameters</li>
    </ol>

    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/progress">
    <dl>
        {{ render_field(form.directory) }}
        {{ render_field(form.bills) }}
        {{ render_field(form.generations) }}
        {{ render_field(form.popsize) }}
    </dl>
    <input type=submit value="Submit">
</form>


{% endblock %}